body{
    background-color: #1a1a1a;
    color: #00bfff;
}

.btn{
    background-color: lightblue;
    margin-bottom: 10px;
    color: #000066;    ;
} 
.btn:hover{
    background-color: tomato;
}
.sidebar{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
   
}

.cmd-out{
    flex-direction: column;
    background-color: black;
    width: 50rem;
    height: 60rem;
    color: orange;
}
.cmd-terminal{
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-line;
    
}

.cmd-title{
    color: white;
    background-color: #666666;
}

.cmd-output-text{
    margin-top: 0rem;
    margin-bottom: 0rem;   
}